<!-- Khai báo sử dụng layout store -->
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    Layout = "_StoreLayout";
    string obj;
    List<CartModel> cart = new List<CartModel>();
    var total = 0;
    var total_quantity = 0;
    try {
        obj = HttpContextAccessor.HttpContext.Session.GetString("cart");
        cart = JsonConvert.DeserializeObject<List<CartModel>>(obj);

    }catch
    {
        cart = null;
    }

}

<!-- Khai báo định nghĩa phần main-container trong layout store-->
<!-- Main Content Begin -->
<div id="main-content">
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="breadcrumb__text">
                        <h2>Giỏ hàng</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="breadcrumb__links">
                        <a href="/">Trang chủ</a>
                        <span>Giỏ hàng</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->
    <!-- Shopping Cart Section Begin -->
    <section class="shopping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="shopping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Sản phẩm</th>
                                    <th>Số lượng</th>
                                    <th>Thành tiền</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (cart != null && cart.Count > 0)
                                    {
                                        <form id="form_update_cart" action="/store/cart" method="POST">
                                            @{
                                                foreach (var product in cart)
                                                {
                                                    <tr>
                                                        <input type="number" name="product_id_list[]"
                                                               value=@product.product_id hidden>
                                                        <td class="product__cart__item">
                                                            <div class="product__cart__item__pic">
                                                                <img src="~/images/product/@product.product_id"
                                                                     alt="@product.product_name" width="100">
                                                            </div>
                                                            <div class="product__cart__item__text">
                                                                <h6>@product.product_name</h6>
                                                                <h5>@(Convert.ToDecimal(product.product_price).ToString("#,##0"))</h5>
                                                            </div>
                                                        </td>
                                                        <td class="quantity__item">
                                                            <div class="quantity">
                                                                <div class="pro-qty text-right">
                                                                    <input type="number" name="product_quantity_list[]"
                                                                           class="form-control border text-center"
                                                                           value="@product.quantity" min="0">
                                                                </div>
                                                            </div>
                                                        </td>
                                                        @{
                                                            var amount = product.product_price * product.quantity;
                                                            total += amount;
                                                            total_quantity += product.quantity;
                                                        }
                                                        <td class="cart__price">@(Convert.ToDecimal(amount).ToString("#,##0"))</td>
                                                    </tr>
                                                }
                                            }
                                        </form>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td class="font-weight-bold">Giỏ hàng trống</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="container">
                        <div class="col-md-12 d-flex justify-content-end">
                            <button type="submit" class="btn btn-success" form="form_update_cart">
                                Cập Nhật Giỏ
                                Hàng
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="cart__total">
                        <h6>Giỏ hàng</h6>
                        <ul>
                            <li>Số Lượng <span>@total_quantity</span></li>
                            <li>Tổng tiền <span>@(Convert.ToDecimal(total).ToString("#,##0"))</span></li>
                        </ul>
                        @if (total_quantity > 0)
                        {
                            <a href="/store/order" class="primary-btn">Đặt Hàng</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shopping Cart Section End -->
</div>
<!-- Main Content End -->