<!-- Khai báo sử dụng layout store -->
@{
    Layout = "_StoreLayout";
    var category_name = ViewData["category_name"];
    var category_id = ViewData["category_id"];
}
<!-- Khai báo định nghĩa phần main-container trong layout store-->
<!-- Main Content Begin -->
<div id="main-content">
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="breadcrumb__text">
                        <h2>@category_name</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="breadcrumb__links">
                        <a href="/">Trang chủ</a>
                        <a href="/store">Cửa Hàng</a>
                        <span>@category_name</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->
    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                @foreach (var product in Model)
                {
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg"
                                 data-setbg="/images/product/@product.product_image"
                                 style="background-image: url('/images/product/@product.product_image') ">
                                <div class="product__label">
                                    <span>@product.category_name</span>
                                </div>
                            </div>
                            <div class="product__item__text">
                                <h6>
                                    <a href="/shop/product/@product.product_id">@product.product_name</a>
                                </h6>
                                <div class="product__item__price">@(Convert.ToDecimal(product.product_price).ToString("#,##0"))</div>
                                <div class="cart_add">
                                    <a href="/store/addproductcart/@product.product_id">Thêm Giỏ Hàng</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="shop__last__option">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                    </div>
                </div>
            </div>
            <!-- Phân trang-->
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    @{
                        var pages = (int)ViewData["pages"];
                        if (pages > 1)
                        {
                            for (int i = 1; i <= pages; i++)
                            {
                                var parms = new Dictionary<string, string>
                                {
                                    { "page",i.ToString()},
                                    { "id", category_id.ToString()}
                                };

                                <li class="page-item">
                                    <a asp-controller="Shop" asp-action="Category" asp-all-route-data="parms">@i</a>
                                </li>
                            }
                        }
                    }
                </ul>
            </nav>
        </div>
    </section>
    <!-- Shop Section End -->
</div>
<!-- Main Content End -->
