<!-- Khai báo sử dụng layout store -->
@{
    Layout = "_StoreLayout";
}
<!-- Khai báo định nghĩa phần main-container trong layout store-->
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="breadcrumb__text">
                        <h2>Sản phẩm</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="breadcrumb__links">
                        <a href="/">Trang chủ</a>
                        <a href="/shop">Cửa hàng</a>
                        <span>@Model.product_name</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->
    <!-- Shop Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="product__details__img">
                        <div class="product__details__big__img">
                            <img class="big_img" src="~/images/product/@Model.product_image" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="product__details__text">
                        <div class="product__label">@Model.category_name</div>
                        <h4>@Model.product_name</h4>
                        <h5>@(Convert.ToDecimal(Model.product_price).ToString("#,##0"))</h5>
                        @{
                            <div>@Model.product_description</div>
                        }
                        <form action="/Store/cart" method="POST">
                            <input type="number" name="product_id" value="@Model.product_id" hidden>
                            <div class="product__details__option">
                                <div class="quantity">
                                    <input type="number" name="product_quantity"
                                           class="font-weight-bold text-center form-control" value="1" min="1">
                                </div>
                                <button class="btn btn-success p-2">Thêm Giỏ Hàng</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Details Section End -->
    <!-- Related Products Section Begin -->
    <section class="related-products spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <h2>Sản phẩm khác</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="related__products__slider owl-carousel">
                    @foreach (var product in ViewBag.products)
                    {
                        <div class="col-lg-3">
                            <div class="product__item">
                                <div class="product__item__pic set-bg"
                                     data-setbg="/images/product/@product.product_image">
                                    <div class="product__label">
                                        <span>@product.category_name</span>
                                    </div>
                                </div>
                                <div class="product__item__text">
                                    <h6>
                                        <a href="/product/@product.product_id">@product.product_name</a>
                                    </h6>
                                    <div class="product__item__price">@(Convert.ToDecimal(product.product_price).ToString("#,##0"))</div>
                                    <div class="cart_add">
                                        <a href="/store/checkout/add-cart/@product.product_id">Thêm Giỏ Hàng</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <!-- Related Products Section End -->